body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.titre h1{
  margin-top: 10px;
	font-size: 20px;
	color: rgba(56, 51, 133);
	font-weight: bold;
  /* opacity: 0.5; */
	position: relative;
	z-index: 1;
	/* display: inline-block; */
  text-transform: uppercase;
}
.titre h1::before{
	content: '';
	/* background: linear-gradient(#0676d1, #fff); */
	background: linear-gradient(rgba(56, 51, 133), #fff);
	height: 40px;
	width: 60px;
	position: absolute;
	top: -20px;
	/* left: 0; */
	z-index: -1;
	transform: rotate(-10deg);
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
}

img {
  border-radius: 50% !important;
}
.profile-img {
  height: 200px !important;
  width: auto !important;
}

#lien_devProf {
  display: none;
}

.section_page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bg_page_tm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #16384c6b !important; */
  overflow: hidden;
  padding: 100px 20px;
  box-sizing: border-box;
}
.bg_page_tm::before, .bg_profile::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 166, 0, 0.719);
  clip-path: circle(30% at 100% -0%);
}
.bg_page_tm::after, .bg_profile::after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(56, 51, 133);
  clip-path: circle(30% at -5% 100%);
}
.bg_profile {
  background: rgba(255, 166, 0, 0.24);
}

.container, #footer, .titre {
  position: relative;
  z-index: 10;
}

.reseaux i{
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: .5s;
  color: orange;
}
.reseaux i:hover{
  color: rgb(56, 51, 133);
  transform: scale(1.2);
}

.partage i{
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: .5s;
}
.partage i:hover{
  transform: scale(1.2);
}

.bi-plus-lg {
  color: orange;
  margin-left: 7px;
  font-size: 20px;
}


/* banière page d'accueil DÉBUT */

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 45px 13px 0 13px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  #hero h1{
    line-height: 38px;
    font-size: 23px;
  }
  #hero p {
    font-size: 13px;
  }
}

.btn-get-started {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 25px 9px 25px;
  border-radius: 20px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}
.btn-get-started:hover {
  background: orange;
  border: 2px solid orange;
  color: #000;
}


/* banière page d'accueil FIN */

/* page d'enregistrement DÉBUT */


.enrO .enrC {

}
.enrO {
  background: rgba(241, 215, 71, 0.938);
  color: #fff;
  padding: 20px 0px;
}
.enrC {
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 20px 10px;
}

@media screen and (min-width: 768px) {
  .enrO {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: rgba(241, 215, 71, 0.938);
    margin-top: 25%;
    padding: 170px 20px;
    font-size: 20px;
  }
  .enrO.cli {
    margin-top: 25%;
    padding: 170px 20px;
    font-size: 20px;
  }
  .enrC {
    border-radius: 10px;
    padding: 20px 10px;
    background: #fff;
    box-shadow: -4px 0px 5px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 767px) {

}

.form-enregistrement{
  background-color: #fff;
  /* padding: 10px 20px; */
  /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); */
  border-radius: 10px;
  border: rgba(56, 51, 133, 0.363) solid 1px;
  margin-bottom: 15px;
  width: 95%;
  margin-left: 2.5%;
}
.form-enregistrement:hover{
  box-shadow: 0 .1rem 1rem rgba(0,0,0,.15);
  /* transform: scale(1); */
}


.etape{
  position: absolute;
  padding-left: 0px;
  padding-top: 20px;
}
.etape .numEtape{
  /* position: absolute; */
  background-color: #fff; /*f8f9fa;*/
  padding: 10px 15px;
  border: rgb(56, 51, 133) solid 1px;
  border-radius: 50%;
  color: rgb(56, 51, 133);
  font-size: 13px;
  font-weight: 400;
  box-shadow: 0 0 .3rem rgb(56, 51, 133);
}


@media screen and (max-width: 767px) {
  .form-enregistrement{
    margin-bottom: 10px;
  }

  .etape{
    position: absolute;
    padding-left: 0px;
    padding-top: 15px;
  }
  .etape .numEtape{
    padding: 7px 12px;
    border-radius: 50%;
    font-size: 14px;
  }
}

.form-enregistrement h4 {
  background-color: #f0f0f0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: #c5c5c5 solid 1px;
  width: 100% !important;
  color: rgb(56, 51, 133);
  padding: 7px 0;
}

.etapeRep, .etapeCli {
  padding: 10px 20px;
}

@media screen and (min-width: 768px) {
  h4{font-size: 18px; margin-bottom: 0 !important;}
  .form-control{
    width: 100% !important;
  }
  .btn-connexion.suivant, .btn-connexion.sub{
    font-size: 12px;
  }
  .btn-register.annuler {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  h4{font-size: 16px; padding: 5px 0;}
  label{
    padding-left: 15px;
  }
  .form-enregistrement{
    font-size: 15px;
  }
  .btn-connexion.suivant, .btn-connexion.sub{
    padding: 6px 11px !important;
    font-size: 12px;
  }
  .btn-register.annuler {
    padding: 6px 11px !important;
    font-size: 12px;
  }
}

/* effet collapse DEBUT */

.form-enregistrement .etapeRep,
.form-enregistrement .etapeCli {
  position: relative;
}
.form-enregistrement .etapeRep .contentRep,
.form-enregistrement .etapeCli .contentCli {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.form-enregistrement .etapeRep.active .contentRep,
.form-enregistrement .etapeCli.active .contentCli {
  height: 330px;
}
.form-enregistrement .etapeRep.active .contentRep.et1,
.form-enregistrement .etapeCli.active .contentCli.et1 {
  height: 25px;
}
.form-enregistrement .etapeRep.active .contentRep.et3{
  height: 400px;
}
.form-enregistrement .etapeCli.active .contentCli.et2{
  height: 380px;
}
.form-enregistrement .etapeRep.active .contentRep.et4,
.form-enregistrement .etapeCli.active .contentCli.et3 {
  height: 190px;
}

@media screen and (max-width: 767px) {
  .form-enregistrement .etapeRep.active .contentRep.et2{
    height: 550px;
  }
  .form-enregistrement .etapeRep.active .contentRep.et3{
    height: 630px;
  }
  .form-enregistrement .etapeCli.active .contentCli.et2{
    height: 570px;
  }
  .form-enregistrement .etapeRep.active .contentRep.et4,
  .form-enregistrement .etapeCli.active .contentCli.et3 {
    height: 260px;
  }
}

/* effet collapse FIN */



/* page d'enregistrement FIN */


/* formulaires DÉBUT */


.form-control {
  width: 100% !important;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .form-control {
    width: 100% !important;
  }
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover,
input[type="number"]:hover,
select:hover{
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-color: #3c2994;
  box-shadow: 0 0 0 3px #3d299475;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus{
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: 0 0 0 1px orange;
  border-color: orange; 
}

/* erreurs de formulaire dans les champs */
.err {
  border: red solid 1px !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.301) !important;
}
.errorform{
  padding-top: 5px;
  font-size: 14px;
  display: block;
  margin: 0 0 0px 0;
  color: #e35f5f;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 13px;
}

.errorlist {
  padding: 3px 0 8px !important;
  margin: 0 !important;
}
.errorlist >li {
  display: block;
  color: #e35f5f !important;
  font-weight: 700;
  font-size: 13px !important;
}

  /* page de connexion DÉBUT */

  /* erreurs du formulaire (dans la BD) */
.errornotes{
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 10px 12px;
  color: #e35f5f;
  border: 1px solid #e35f5f;;
  border-radius: 4px;
  background-color: rgb(255, 210, 210);
  background-position: 5px 12px;
  overflow-wrap: break-word;
  width: 80%;
  margin: auto;
}

.infonotes{
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 10px 12px;
  color: #006b1b;
  border: 1px solid #006b1b;;
  border-radius: 4px;
  background-color: rgb(215, 255, 210);
  background-position: 5px 12px;
  overflow-wrap: break-word;
  width: 80%;
  margin: auto;
}

.form-enregistrement.connect {
  padding: 25px 50px 5px;
  margin: auto;
  width: 95%;
  box-shadow: 0 .1rem 1rem rgba(0,0,0,.15);
}

.form-control.connect {
  width: 80% !important;
}


@media screen and (max-width: 767px) {
  .form-enregistrement.connect {
    box-shadow: none;
    padding: 25px 20px 5px;
  }
  .form-control.connect {
    width: 95% !important;
  }
  .errornotes{
    width: 95%;
    margin: auto;
    font-size: 13px;
    padding: 10px 12px;
  }
  .infonotes{
    width: 95%;
    margin: auto;
    font-size: 13px;
    padding: 10px 12px;
  }
}

  /* page de connexion FIN */

/* formulaies FIN */



/* collapse debut */


.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}
.accordion .contentBx .label{
  position: relative;
  background-color: orange;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.accordion .contentBx .label::before{
  content: '+';
  position: absolute;
  top: 10%;
  right: 20px;
  font-size: 1.5em;
  transform: translateY(-10%);
}
.accordion .contentBx .content {
  position: relative;
  background-color: rgb(214, 252, 255);
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion .contentBx.active .content {
  height: 150px;
  padding: 10px;
}
.accordion .contentBx.active .label::before{
  content: '--';
}


/* collapse fin */