body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link, a:hover {
  color: orange;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

.ligne{
  border: 2px solid;
  border-color: white;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
 }
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 45px 13px 0 13px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 24px;
}

@media screen and (max-width: 850px) {
  #hero h1{
    line-height: 38px;
    font-size: 23px;
  }
  #hero p {
    font-size: 13px;
  }
}

.btn-get-started {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 25px 9px 25px;
  border-radius: 20px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}
.btn-get-started:hover {
  background: orange;
  border: 2px solid orange;
  color: #000;
}


section {
  padding: 60px 0;
  overflow: hidden;
}

#banner{
  background-color: orange;
}

.form {
  background: #fff;
  position: absolute;
  width: 40rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
  display: none;
  border-radius: 1rem;
  overflow: hidden;
}

.form__btn {
  background: orange;
  outline: none;
  border: none;
  padding: 0.5rem 0.7rem;
  width: 7rem;
  margin: 1rem auto;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.form--message-text {
  width: 40rem;
  background: #fff;
  color: #444;
  margin-top: 5rem;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
  animation: fadeIn 0.8s;
  border-radius: 1rem;
}

.form-active {
  z-index: 1000;
  display: block;
}
.form-active-animate {
  animation: moveRight 1s;
}
.form-inactive {
  display: block;
  animation: moveLeft 1s;
}

@keyframes moveRight {
  0% {
    transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.services .icon-box {
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
}
.services .icon-box::before {
  content: "";
  position: absolute;
  background: #fdeff2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}
.services .icon-box:hover::before {
  background: orange;
  top: 0;
  border-radius: 0px;
}
.services .icon {
  margin-bottom: 15px;
}
.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: orange;
  transition: all 0.3s ease-in-out;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}
.services .icon-box:hover .icon i {
  color: #fff;
}

.inscription{
  border: 2px orange;
  background-color: rgba(255, 165 ,0 , 0.8);
  border-radius: 10px;
}

#footer {
  color: #444444;
  font-size: 14px;
  background: #f6f4f4;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  color: #777777;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: orange;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: orange;
}

.inscris{
  font-size: 15px;
  padding: 0 22px;
  background: orange;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: orange;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.box-profile{
  user-select: none;
  margin: 50px auto;
  background: rgba(0, 0, 0, .8) ;
  color: #b3b8cd ;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
    
}
.cover-photo{

  background: url(2.JG);
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.profile{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin:  -175px;
  border: 1px solid #1f1a32;
  background: #292343;

}
.profile-name{
  font-size: 25px;
  font-weight: bold;
}

.age{

  margin-top: 10px;
  line-height: 16px;
    font-size: 13px;

}
.ville{

margin-top: 10px;
line-height: 16px;
font-size: 13px;

}
button{
margin: 10px 0 40px 0;


}
.msg-btn, .follow-btn{
  background: orange ;
  border: 1px solid orange;
  padding: 10px 25px;
  color: #231e39;
  border-radius: 3px;
  font-family: sans-serif;
  cursor: pointer;
  


}
.follow-btn{
  margin-left: 10px;
  background: transparent;
  color: orange;


}
.msg-btn{
  margin-left: 10px;
  background: transparent;
  color: orange;


}
.follow-btn:hover{

  color: #ffffff;
  background: orange;
  transition: .5s;
}
.msg-btn:hover{

  color: #ffffff;
  background: orange;
  transition: .5s;
}
.box-profile i{
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .5s;
}
.box-profile i:hover{
color: orange;

}

/* About Me */ 

.about-area .about-title p{
    padding: 1rem 7rem;
}

.about-area .client{
    background: #ffffff10;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    margin: 3rem 0rem;
}

.about-area .client .client-img{
    padding: 2rem;
}

.about-area .client .about-client{
    padding-top: 2rem;
}

.about-area .client .about-client p{
    font-size: 14px;
}

.about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: orange;
    width: 12px;
    height: 12px;
}



/* End About Me */ 


section {
  padding: 60px 0;
  overflow: hidden;
}
.form-control:focus {
  box-shadow: none;
  border-color: orange
}

.profile-button {
  background: orange;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: orange
}

.profile-button:focus {
  background:orange;
  box-shadow: none
}

.profile-button:active {
  background: orange;
  box-shadow: none
}

.back:hover {
  color: orange;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: orange;
  color: #fff;
  cursor: pointer;
  border: solid 1px orange
}
.box-profile{
    user-select: none;
    margin: 0px auto;
    background:#231e39 ;
    color: #b3b8cd ;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
    
}
.cover-photo{
    background: url('../img/cover_photo.jpg');
    /* background-color: rgb(223, 149, 13); */
    height: 60px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.cover-photo img{
  width: 150px;
  height: 150px;
}
.profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin:  -175px;
    border: 1px solid #1f1a32;
    background: #292343;

}
.profile-name{
  padding-top: 50px;
    font-size: 28px;
    font-weight: bold;
}.age{

    margin-top: 10px;
    line-height: 16px;
    font-size: 13px;

}
.ville{

margin-top: 10px;
line-height: 16px;
font-size: 13px;

}
button{
margin: 10px 0 40px 0;


}
.msg-btn, .follow-btn{
    background: orange ;
    border: 1px solid orange;
    padding: 10px 25px;
    color: #231e39;
    border-radius: 3px;
    font-family: sans-serif;
    cursor: pointer;
    


}
.follow-btn{
    margin-left: 10px;
    background: transparent;
    color: orange;


}
.msg-btn{
    margin-left: 10px;
    background: transparent;
    color: orange;


}
.follow-btn:hover{

    color: #ffffff;
    background: orange;
    transition: .5s;
}

.follow-btn a{
  color: orange;
  text-decoration: none;
}
.follow-btn:hover a{
  color: black;
  text-decoration: none;
}

.box-profile i{
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
}
.box-profile i:hover{
color: orange;

}
