{% extends 'base.html' %}
{% load static %}

{% block title %} FindRepeater | Mon Profil {% endblock %}

{% block content %}

<style>
    .profile-img {
        width: 150px;
    }
    h6 {
        color: rgba(0, 0, 0, 0.678);
    }
    .info span {
        font-size: 16px;
    }
    h3 {
        color: rgb(56, 51, 133);
    }
    p span {
        color: orange;
    }

    .bg_profile, #tab, .titre {
        position: relative;
        z-index: 10;
    }

    .dash {
        background: #fff;
    }

    @media screen and (min-width: 768px) {
        .dash {
            border-left: orange solid 4px;
        }
        .card-body {
            width: 80% !important;
            margin: auto;
        }
    }

    @media screen and (max-width: 767px) {
        .dash {
            margin: 0 !important;
            border-top: orange solid 2px;
            /* border-top-right-radius: 10px !important;
            border-top-left-radius: 10px !important; */
        }
        hr {
            margin-top: 10px;
        }
        h6 {
            font-size: 14px;
        }
        .info span {
            font-size: 14px;
        }
        .dash-content {
            padding: 0 0 20px !important;
        }
        .profile-img {
            margin-top: 20px !important;
        }
        .btn-connexion {
            font-size: 12px;
        }
        p {
            font-size: 15px;
        }
        .container {
            width: 95%;
            margin-right: auto;
            margin-left: auto;
            
        }
        .cours {
            margin-top: 0 !important;
        }
        .container .row.r {
            border-bottom-right-radius: 10px !important;
            border-bottom-left-radius: 10px !important;
        }
    }
</style>

<section class="py-5 bg_profile">

    <div class="pt-4 pb-2">
        <div class="py-2 titre">
            <h1 class="text-center">Mon Profil</h1>
        </div> 
    </div>
    
    <div class="container">
        <div class="row">
            
            {% for rep in repList %}
                {% if rep.user.id == user.id %}
                    <div class="col-md-4 shadow-lg dash mx-4">
                        <div class="d-flex flex-column align-items-center dash-content text-center p-3 py-5">
                            <img class="rounded-circle mt-5 profile-img" src="{% static 'img/profile.jpg' %}">
                            <span>{{rep.user.username}} | {{rep.age}} ans | {{rep.profession}}</span>
                            <span>{{rep.ville}}, {{rep.quartier}}</span>
                            <span>{{rep.user.email}}</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row p-3 bg-white shadow">
                            <div class="col-md-12 info">
                                <h3 class="text-center">À propos</h3><br>
                                <div class="row">
                                    <div class="col">
                                        <h6><b>Noms et Prénoms</b></h6>
                                    </div>
                                    <div class="col text-end">
                                        <span>{{rep.user.last_name}} {{rep.user.first_name}}</span>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6><b>Télephone</b></h6>
                                    </div>
                                    <div class="col text-end">
                                        <span>{{rep.telephone1}}</span>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6><b>Whatsapp</b></h6>
                                    </div>
                                    <div class="col text-end">
                                        <span>{{rep.telephone2}}</span>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6><b>Niveau d'étude</b></h6>
                                    </div>
                                    <div class="col text-end">
                                        <span>{{rep.niveauEtude}}</span>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6><b>Langue d'enseignement</b></h6>
                                    </div>
                                    <div class="col text-end">
                                        <span>{{rep.langue}}</span>
                                    </div>
                                    <hr>
                                </div>

                                <div class="text-center p-2">
                                    <a class="btn-connexion" href="{% url 'modifier_profil' rep.id user.id %}">Modifier</a>
                                </div>
                            </div>
                        </div>
                        <div class="row r p-3 mt-3 bg-white shadow cours">
                            <div class="row pt-2">
                                <div class="col-md-12 text-center">
                                    <h3>Partager</h3>
                                    <p class="mb-0">Partagez votre profil sur <b>Whatsapp</b>, ou <b>Copiez</b> le lien afin de le distribuer ailleurs</p>
                                    <style>
                                        .fa-whatsapp {
                                            color: #25d366;
                                        }
                                        .fa-facebook {
                                            color: #273c75;
                                        }
                                        .fa-clone, .fa-copy {
                                            color: #000;
                                        }
                                    </style>
                                    <div class="partage">
                                        <span class="wha">
                                            <a style="text-decoration: none;" href="https://wa.me/?text=Salut, je suis {{rep.civilite}} {{rep.user.last_name}} {{rep.user.first_name}}, {{rep.profession}} et également enseignant des cours répétion. Pour plus d'information bien vouloir consulter mon *Profil Enseignant* sur la plateforme findrepeater via le lien suivant : {% url 'voir_profil' rep.id user.id %}">
                                                <i class="fab fa-whatsapp"></i>
                                            </a>&emsp;
                                        </span>
                                        <span class="tel">
                                            <a style="text-decoration: none;" >
                                                <span style="position: absolute; margin-bottom: 20px; opacity: 1; height: 0; width: 0; overflow: hidden;" id="tocopy">Salut, je suis {{rep.civilite}} {{rep.user.last_name}} {{rep.user.first_name}}, {{rep.profession}} et également enseignant des cours répétion. Pour plus d'information bien vouloir consulter mon *Profil Enseignant* sur la plateforme findrepeater via le lien suivant : {% url 'voir_profil' rep.id user.id %}</span>
                                                <i class="far fa-clone js-copy" data-target="#tocopy"></i>
                                            </a>
                                        </span>&emsp;
                                        <span>
                                            <a style="text-decoration: none;" href="{% url 'voir_profil' rep.id user.id %}">voir<i class="fas fa-eye"></i></a> 
                                        </span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
    
            <div id="tab" class="card card-body mt-3 bg-white shadow text-center" style="background-color: #ebeff5; padding: 5px 3px;">                    
                <h3>Cours dispensés</h3>
                <a class="btn-connexion ajout mb-1" href="{% url 'ajouter_cours' %}">Ajouter un cours</a>
                <style>
                    th, td {border: orange solid 1px; border-top: none; align-items: center;}
                </style>
                <div class="table_cours table-responsive">
                    <table class="table table-hover table-sm">
                        <tr  style="border-bottom: orange solid 3px; background-color: rgb(216, 210, 200);">
                            <th>Matière</th>
                            <th>Classe</th>
                            <th>Jour.s disponible.s</th>
                            <!-- <th>Début</th>
                            <th>Durée</th> -->
                            <th>Modifier</th>
                            <th>Retirer</th>
                        </tr>

                        {% for c in coursList %}
                            {% if c.repetiteur.user.id == user.id %}
                                <tr>
                                    <td>{{c.matiere}}</td>
                                    <td>{{c.classe}}</td>
                                    <td>{{c.jour}}</td>
                                    <!-- <td>{{c.heure_début}}</td>
                                    <td>{{c.duree}}</td> -->
                                    <td><a href="{% url 'modifier_cours' c.id %}"><i style="color: green;" class="bi-pencil-square"></i></a></td>
                                    <td><a href="{% url 'supprimer_cours' c.id %}"><i style="color: red;" class="bi-x-circle"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div> 
    </div>    
</section>

<script>


    var btncopy = document.querySelector('.js-copy');
    if(btncopy) {
        btncopy.addEventListener('click', docopy);
    }
    
    function docopy() {
        var range = document.createRange();
        var target = this.dataset.target;
        var fromElement = document.querySelector(target);
        var selection = window.getSelection();
    
        range.selectNode(fromElement);
        selection.removeAllRanges();
        selection.addRange(range);
    
        try {
            var result = document.execCommand('copy');
            if (result) {
                // La copie a réussi
                alert("Lien Copié !");
            }
        }
        catch(err) {
            // Une erreur est surevnue lors de la tentative de copie
            alert(err);
        }
    
        selection = window.getSelection();
    
        if (typeof selection.removeRange === 'function') {
            selection.removeRange(range);
        } else if (typeof selection.removeAllRanges === 'function') {
            selection.removeAllRanges();
        }
    }
    
    
</script>

{% endblock %}