{% extends 'base.html' %}
{% load static %}

{% block title %} FindRepeater | Trouvez facilement et rapidement des profs sur mesures | Accueil {% endblock %}

{% block content %}

<section id="hero" class="img-fluid bg-secondary" style="background-image:url(static/core/img/home.jpg); background-attachment: fixed; background-repeat:no-repeat; background-size: cover;">
    <div class="hero-container">
      <h1 class="text-center">Améliorez votre niveau avec nos <br> <span>professeurs en ligne</span></h1>
      <p class="text-center text-white">Demarrez FindRepeater peut vous aider à trouver la solution pour vos cours en ligne via notre <span>équipe de professeur expérimenté</span></p>
      <a href="#inscription" class="btn-get-started">Commencer</a>
    </div>
</section>

{% endblock %}