{% extends 'base.html' %}
{% load static %}

{% block title %} FindRepeater | Rechercher un prof sur mesure {% endblock %}

{% block content %}

<style>
  .indiRech{
    position: relative;
    border: rgb(56, 51, 133) solid 2px;
    border-radius: 10px;
    padding: 20px;
  }

  #indicationR {
    position: absolute;
    color: rgb(56, 51, 133);
    font-size: 60px;
    top: -12%;
    left: -3%;
  }
  
  .steps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .step {
    width: 250px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.342); */
    margin: 10px 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
  }

  .step h4{
    font-weight: bold;
  }

  .step p{
    font-size: 13px;
  }

  .step i{
    font-size: 60px;
    color: rgb(56, 51, 133);
  }

  .step .number{
    position: absolute;
    font-weight: 600;
    color: #fff;
    background: orange;
    border-radius: 50%;
    padding: 5px 10px;
  }
</style>

<section class="pb-5 mt-5 bg_profile">

  <div class="pt-4 pb-2">
    <div class="pt-3 titre">
        <h1 class="text-center">Recherche d'un répétiteur</h1>
    </div> 
  </div>

  <div class="container">
    <div class="row my-4 mx-auto text-center">
      <h4 class="mb-2" style="font-weight: bold;">Trouvez facilement le prof qu'il vous faut en quelques clics</h4>
      <div class="steps">
        <div class="step">
          <p class="number">1</p>
          <i class="bi-search"></i>
          <h4>Lancer la recherche</h4>
          <p>
            Séléctionnez un critère parmi ceux proposés
          </p>
        </div>
        <div class="step">
          <p class="number">2</p>
          <i class="bi-people-fill"></i>
          <h4>Consulter les profils</h4>
          <p>Visitez les profils trouvés afin de mieux faire votre choix</p>
        </div>
        <div class="step">
          <p class="number">3</p>
          <i class="bi-person-check"></i>
          <h4>Prendre contact</h4>
          <p>Prennez contact avec votre prof et discutez des modalités</p>
        </div>
      </div>
      <div class="mt-4">
        <a class="btn-connexion" style="color: #fff !important;" data-bs-toggle="modal" data-bs-target="#typeRecherche" href="{% url 'recherche_repetiteur' %}">Lancer la recherche</a>
      </div>
    </div>
  </div>

</section>

{% endblock %}